{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Control Panel" %} &mdash; YDNS{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-offset-3 col-lg-6">
			<section class="section">
				<h3 class="section-header page-header">{% trans "Send mail" %}</h3>

				<form method="post" action="{% url 'cp:mail:create' %}">
					{% csrf_token %}
					<div class="form-group{% if errors.recp %} has-error{% endif %}">
						<label for="id_recp">{% trans "Recipient" %}</label>
						<input type="email" name="recp" id="id_recp" class="form-control" required placeholder="{% trans "Enter recipient email address…" %}"{% if post.recp %} value="{{ post.recp }}"{% elif initial.recp %} value="{{ initial.recp }}"{% endif %}>
					    {% if errors.recp %}<p class="help-block">{{ errors.recp }}</p>{% endif %}
					</div>
					<div class="form-group{% if errors.subject %} has-error{% endif %}">
						<label for="id_subject">{% trans "Subject" %}</label>
						<input type="text" name="subject" id="id_subject" class="form-control" required placeholder="{% trans "Enter a subject…" %}"{% if post.subject %} value="{{ post.subject }}{% endif %}">
					    {% if errors.subject %}<p class="help-block">{{ errors.subject }}</p>{% endif %}
					</div>
					<div class="form-group{% if errors.message %} has-error{% endif %}">
						<label for="id_message">{% trans "Message" %}</label>
						<textarea name="message" id="id_message" class="form-control form-control-mono" rows="6" required placeholder="{% trans "Enter the message…" %}">{% if post.message %}{{ post.message }}{% endif %}</textarea>
					    {% if errors.message %}<p class="help-block">{{ errors.message }}</p>{% endif %}
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
						<a href="{% url 'cp:home' %}" class="btn btn-default pull-right">{% trans "Cancel" %}</a>
					</div>
				</form>
			</section>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="cp"]').addClass('active');
		});
	</script>
{% endblock %}