{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Control Panel" %} &mdash; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-2">
            {% include "cp/sidenav.html" %}
		</div>
	    <div class="col-lg-10">
			<section class="section">
				<h3 class="section-header page-header">{% trans "Overview" %}</h3>
	            <div class="row">
	                <div class="col-lg-4">
	            		<div class="panel panel-default">
	            			<div class="panel-heading">
	            				<h4 class="panel-title">{% trans "User accounts" %}</h4>
	            			</div>
	            			<div class="panel-body">
	            				<dl class="dl-horizontal text-left">
	            					<dt>{% trans "Total accounts" %}</dt>
	            					<dd>{{ users.count }}</dd>
	            					<dt>{% trans "Inactive" %}</dt>
	            					<dd>{{ users_inactive.count }}</dd>
	            					<dt>{% trans "Banned" %}</dt>
	            					<dd>{{ users_banned.count }}</dd>
	            				    <dt>&nbsp;</dt><dd>&nbsp;</dd>
	            				    <dt>{% trans "By account type" %}</dt>
	            				    <dd>&nbsp;</dd>
	            					{% for k,v in users_by_type.items %}<dt style="padding-left:15px">{{ k }}</dt>
	            					<dd>{{ v.count }}</dd>{% endfor %}
	            				</dl>
	            			    <p class="no-margin-bottom"><a href="{% url 'cp:users:home' %}">{% trans "Go to User Control Panel" %}</a></p>
	            			</div>
	            		</div>
	            	</div>
	            </div>
	        </section>
	    </div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="cp"],[data-nav-id="cp-overview"]').addClass('active');
		});
	</script>
{% endblock %}