{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %} &mdash; YDNS{% endblock %}

{% block content %}
    <div class="panel panel-default" id="login-panel">
		<div class="panel-body padded">
			<h3 class="page-header">{% trans "Login" %}</h3>
			<p>Please enter the login token below to proceed.</p>
			<form class="aui login-form form-horizontal" id="login-form" method="post" action="{% url 'accounts:login_otp' %}">
				{% csrf_token %}
			    {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
				<div class="form-group{% if errors.code %} has-error has-feedback{% elif post.code %} has-success has-feedback{% endif %}">
					<label for="id_code" class="col-lg-3 control-label">{% trans "Code" %}</label>
					<div class="col-lg-3">
						<input type="text" class="text" id="id_code" name="code" maxlength="6" autofocus required{% if post.code %} value="{{ post.code }}"{% endif %}>
                    	{% if errors.code or post.code %}<i class="fa {{ errors.code|yesno:'fa-exclamation-triangle,fa-check-circle' }} feedback" aria-hidden="true"></i>{% endif %}
                    	{% if errors.code %}<p class="help-block">{{ errors.code }}</p>{% endif %}
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-3 col-lg-9">
						<button type="submit" class="aui-button aui-button-primary">{% trans "Log in" %}</button>
					</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('#id_code').focus();
		});
	</script>
{% endblock %}