{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %} &mdash; YDNS{% endblock %}

{% block content %}
    <div class="panel panel-default panel-medium-center">
		<div class="panel-body padded">
			<h3 class="page-header">
				{% trans "Reset password" %}
			</h3>
			<script type="text/javascript">
 				var RecaptchaOptions = { theme: 'white' };
			</script>
			<form class="aui reset-password-form form-horizontal" id="reset-password-form" method="post" action="{% url 'accounts:reset_password' %}">
				{% csrf_token %}
				<div class="form-group{% if errors.email %} has-error has-feedback{% elif post.email %} has-success has-feedback{% endif %}">
					<label for="id_email" class="col-lg-3 control-label">{% trans "Email address" %}</label>
					<div class="col-lg-9">
						<input type="email" class="text" id="id_email" name="email"{% if not post.email %} autofocus{% endif %} required{% if post.email %} value="{{ post.email }}"{% endif %}>
                    	{% if errors.email or post.email %}<i class="fa {{ errors.email|yesno:'fa-exclamation-triangle,fa-check-circle' }} feedback" aria-hidden="true"></i>{% endif %}
                    	{% if errors.email %}<p class="help-block">{{ errors.email }}</p>{% endif %}
					</div>
				</div>
				<div class="form-group{% if errors.recaptcha %} has-error{% endif %}">
					<div class="col-lg-offset-3 col-lg-9">
						{{ recaptcha_html|safe }}
						{% if errors.recaptcha %}<p class="help-block">{{ errors.recaptcha }}</p>{% endif %}
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-3 col-lg-9">
						<button type="submit" class="aui-button aui-button-primary">{% trans "Reset password" %}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			YDNS_focusNextError("form#reset-password-form");
		});
	</script>
{% endblock %}