{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %} &mdash; YDNS{% endblock %}

{% block content %}
    <div class="panel panel-default panel-medium-center">
		<div class="panel-body padded">
			<h3 class="page-header">
				{% trans "Reset password" %}
			</h3>
			<form class="aui reset-password-form form-horizontal" id="reset-password-form" method="post" action="{% url 'accounts:reset_password_update' %}?u={{ reset_password_request.user.alias }}&token={{ reset_password_request.token }}">
				{% csrf_token %}
				<div class="form-group{% if errors.password %} has-error has-feedback{% endif %}">
					<label for="id_password" class="col-lg-3 control-label">{% trans "New Password" %}</label>
					<div class="col-lg-9">
						<input type="password" class="password" id="id_password" name="password" required autofocus placeholder="{% trans "Choose a new password…" %}"{% if from_homepage and post.password %} value="{{ post.password }}"{% endif %}>
                    	{% if errors.password %}<i class="fa fa-exclamation-triangle feedback" aria-hidden="true"></i>{% endif %}
                        {% if errors.password %}<p class="help-block">{{ errors.password }}</p>{% endif %}
					</div>
				</div>
				<div class="form-group{% if errors.password_rpt %} has-error has-feedback{% endif %}">
					<label for="id_password_rpt" class="col-lg-3 control-label">{% trans "Repeat password" %}</label>
					<div class="col-lg-9">
						<input type="password" class="password" id="id_password_rpt" name="password_rpt" required placeholder="{% trans "Repeat the new password…" %}">
                    	{% if errors.password_rpt %}<i class="fa fa-exclamation-triangle feedback" aria-hidden="true"></i>{% endif %}
                        {% if errors.password_rpt %}<p class="help-block">{{ errors.password_rpt }}</p>{% endif %}
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-3 col-lg-9">
						<button type="submit" class="aui-button aui-button-primary">{% trans "Update password" %}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			YDNS_focusNextError("form#reset-password-form");
		});
	</script>
{% endblock %}