{% extends "base.html" %}

{% block title %}Set new password &lsaquo; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-offset-3 col-lg-6">
			<section class="card">
				<div class="card-content">
					<h3 class="page-header">Set new password</h3>
			    	<form id="form-set-password" class="form-horizontal" method="post" action="{% url 'accounts:set_password' password_request.user.alias password_request.token %}" autocomplete="off">
						{% csrf_token %}
						{{ form }}
						<div class="form-group margin">
							<div class="col-lg-offset-3 col-lg-9">
								<button type="submit" class="btn btn-primary btn-material">Change password</button>
								<a href="{% url 'home' %}" class="btn btn-link btn-material">Cancel</a>
							</div>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			YDNS.safeForm('#form-set-password');
			$('#id_new').focus();
		});
	</script>
{% endblock %}