{% extends "base.html" %}

{% block title %}Sign up &lsaquo; YDNS{% endblock %}

{% block header %}<script src='https://www.google.com/recaptcha/api.js'></script>{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-offset-3 col-lg-6">
			<section class="card">
				<div class="card-content">
					<h3 class="page-header">Sign up</h3>
			    	<form id="signup-form" class="form-horizontal" method="post" action="{% url 'signup' %}">
						{% csrf_token %}
						{{ form }}
						<div class="form-group margin">
							<div class="col-lg-offset-3 col-lg-9">
								<button type="submit" class="btn btn-primary btn-material" disabled>Sign up</button>
							</div>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('#id_email').focus();
			$('#id_terms').on('change', checkTerms);
			YDNS.safeForm('#signup-form');
			checkTerms();
		});

		function checkTerms() {
			if ($('#id_terms').get(0).checked) {
				$('button.btn-primary[disabled]').removeAttr('disabled');
			} else {
				$('button.btn-primary').attr('disabled', true);
			}
		}
	</script>
{% endblock %}