{% extends "base.html" %}

{% block title %}Add Domain &lsaquo; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-offset-3 col-lg-6">
			<section class="card">
				<div class="card-content">
					<h3 class="page-header">Add Domain</h3>
					<p><strong>Note:</strong> Before adding your domain, please <a href="#">read how to do</a> so.</p>
					<br>
			    	<form id="create-form" class="form-horizontal" method="post" action="{% url 'domains:create' %}">
						{% csrf_token %}
						{{ form }}
						<div class="form-group margin">
							<div class="col-lg-offset-3 col-lg-9">
								<button type="submit" class="btn btn-primary btn-material">Add Domain</button>
								<a href="{% url 'dashboard' %}" class="btn btn-link btn-material">Cancel</a>
							</div>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('#id_name').focus();
			YDNS.safeForm('#create-form');
			YDNS.setActiveSection('add-domain');
		});
	</script>
{% endblock %}