{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% blocktrans with domain_name=domain.name %}Delete {{ domain_name }}{% endblocktrans %} &mdash; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-3">
            {% include "domains/sidenav.html" %}
		</div>
	    <div class="col-lg-9">
			<section class="section">
				<h3 class="section-header page-header">{% trans "Delete Domain" %}</h3>
			    <div class="callout callout-danger">
			    	<h4><i class="fa fa-exclamation-triangle fa-fw"></i> {% trans "Danger" %}</h4>
			    	<p>{% trans "You are about to delete this domain. If you decide to proceed, all hosts and records that belong to that domain will be deleted." %}</p>
			    	<p><strong>{% trans "Do you really want to proceed?" %}</strong></p>
			    	<p></p>
			    	<form method="post" action="{% url 'domains:delete' domain.name %}">
			    		{% csrf_token %}
			    		<div class="checkbox">
			    			<label>
			    				<input type="checkbox" name="delete" id="id_delete" value="yes">
			    				{% trans "I understand the consequences of this and want to delete the domain now" %}
			    			</label>
			    		</div>
			    		<button type="submit" class="btn btn-primary" id="id_submit_btn" disabled>{% trans "Delete Domain" %}</button>
			    		<a href="{% url 'domains:detail' domain.name %}" class="btn btn-link">{% trans "Cancel" %}</a>
			    	</form>
			    </div>
	        </section>
	    </div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="domains"],[data-nav-id="delete-domain"]').addClass('active');
			$('#id_delete').on('change', function() {
				if ($(this).get(0).checked) {
					$('#id_submit_btn').removeAttr('disabled');
				} else {
					$('#id_submit_btn').attr('disabled', 'disabled');
				}
			});
		});
	</script>
{% endblock %}