{% extends "base.html" %}
{% load fmt %}

{% block title %}Delete {{ domain }} &lsaquo; YDNS{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-3 col-md-3">
			<section class="card">
				<div class="card-content">
					{% include "domains/sidenav.html" %}
				</div>
			</section>
		</div>
	    <div class="col-lg-9 col-md-9">
			<section class="card">
				<div class="card-content">
					<h3 class="page-header">Delete {{ domain }}</h3>
			    	<div class="callout callout-danger">
			    		<h4><i class="fa fa-exclamation-triangle fa-fw"></i> Attention</h4>
			    		<p>You are about to delete the domain <strong>{{ domain }}</strong>. If you decide to proceed, it's configuration and all records associated with it are being deleted. This cannot be un-done.</p>
			    		<p><strong>Do you really want to proceed?</strong></p>
			    		<p></p>
			    		<form method="post" action="{% url 'domains:delete' domain.name %}">
			    			{% csrf_token %}
			    			<div class="checkbox">
			    				<label>
			    					<input type="checkbox" name="delete" id="id_delete" value="yes">
			    					I understand the consequences of this and want to delete the domain now
			    				</label>
			    			</div>
							<br>
			    			<button type="submit" class="btn btn-primary btn-material" id="id_submit_btn" disabled>Delete Domain</button>
			    			<a href="{% url 'domains:detail' domain.name %}" class="btn btn-link btn-material">Cancel</a>
			    		</form>
			    	</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			YDNS.setActiveSection('domain,delete-domain');
			$('#id_delete').on('change', function() {
				if ($(this).get(0).checked) {
					$('#id_submit_btn').removeAttr('disabled');
				} else {
					$('#id_submit_btn').attr('disabled', 'disabled');
				}
			});
		});
	</script>
{% endblock %}