{% extends "base.html" %}
{% load fmt %}

{% block title %}{{ domain }} &lsaquo; YDNS{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-3 col-md-3">
			<section class="card">
				<div class="card-content">
					{% include "domains/sidenav.html" %}
				</div>
			</section>
		</div>
		<div class="col-lg-9 col-md-9">
			<section class="card">
				<div class="card-content">
					<h3 class="page-header">{{ domain }}</h3>
					<div class="row">
						<div class="col-lg-6">
							<dl class="dl-horizontal">
								<dt>Owner</dt>
								<dd>
									{% if not domain.public_owner %}
										<em class="text-muted">Undisclosed</em>
									{% else %}
										{{ domain.owner|urlize }}
									{% endif %}
								</dd>
								<dt>Access type</dt>
								<dd>{{ domain.access_type }}</dd>
								<dt>&nbsp;</dt><dd>&nbsp;</dd>
								<dt>Status</dt>
								<dd>{{ domain.status_label }}</dd>
							</dl>
						</div>
						<div class="col-lg-6">
							<dl class="dl-horizontal">
								<dt>Creation date</dt>
								<dd>{{ domain.date_created|fmt_timesince }}</dd>
							</dl>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			YDNS.setActiveSection('domain');
		});
	</script>
{% endblock %}