{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Control Panel" %} &mdash; YDNS{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-2">
			{% include "cp/sidenav.html" %}
		</div>
		<div class="col-lg-10">
			<section class="section">
				<h3 class="section-header page-header">
					{% trans "Domain Blacklist" %}
					<span class="pull-right">
						<a href="{% url 'cp:dbl:create' %}" class="btn btn-link">{% trans "Create Entry" %}</a>
					</span>
				</h3>
				{% if entries.count == 0 %}
					<p>{% trans "No entries found." %}</p>
				{% else %}
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>{% trans "Pattern" %}</th>
								<th width="10">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							{% for entry in entries %}<tr>
								<td class="text-mono"><a href="{% url 'cp:dbl:detail' entry.id %}">{{ entry.name }}</a></td>
								<td>
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu dropdown-menu-right" role="menu">
										<li><a href="{% url 'cp:dbl:edit' entry.id %}">{% trans "Edit" %}</a></li>
										<li><a href="{% url 'cp:dbl:delete' entry.id %}">{% trans "Delete" %}</a></li>
									</ul>
								</td>
							</tr>{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</section>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="cp"],[data-nav-id="cp-dbl"]').addClass('active');
		});
	</script>
{% endblock %}