{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Change password" %} &mdash; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-3">
            {% include "accounts/settings/sidenav.html" %}
		</div>
	    <div class="col-lg-9">
			<section class="section">
				<h3 class="section-header page-header">{% trans "Change password" %}</h3>
			    <form class="change-password-form form-horizontal" id="change-password-form" method="post" action="{% url 'accounts:settings:change_password' %}">
			    	{% csrf_token %}
			    	<div class="form-group{% if errors.current_password %} has-error has-feedback{% elif post.current_password %} has-success has-feedback{% endif %}">
			    		<label for="id_current_password" class="col-lg-2 col-md-3 control-label">{% trans "Current password" %}</label>
			    		<div class="col-lg-4 col-md-5">
			    			<input type="password" class="form-control" id="id_current_password" name="current_password" placeholder="{% trans 'Your current password…' %}"{% if not post.current_password %} autofocus{% endif %} required>
                        	{% if errors.current_password or post.current_password %}<i class="fa {{ errors.current_password|yesno:'fa-exclamation-triangle,fa-check-circle' }} feedback" aria-hidden="true"></i>{% endif %}
                        	{% if errors.current_password %}<p class="help-block">{{ errors.current_password }}</p>{% endif %}
			    		</div>
			    	</div>
			    	<div class="form-group{% if errors.password %} has-error has-feedback{% elif post.password %} has-success has-feedback{% endif %}">
			    		<label for="id_password" class="col-lg-2 col-md-3 control-label">{% trans "New password" %}</label>
			    		<div class="col-lg-4 col-md-5">
			    			<input type="password" class="form-control" id="id_password" name="password" placeholder="{% trans 'A new password…' %}" required>
                        	{% if errors.password or post.password %}<i class="fa {{ errors.password|yesno:'fa-exclamation-triangle,fa-check-circle' }} feedback" aria-hidden="true"></i>{% endif %}
                        	{% if errors.password %}<p class="help-block">{{ errors.password }}</p>{% endif %}
			    		</div>
			    	</div>
			    	<div class="form-group{% if errors.password_rpt %} has-error has-feedback{% elif post.password_rpt %} has-success has-feedback{% endif %}">
			    		<label for="id_password_rpt" class="col-lg-2 col-md-3 control-label">{% trans "Repeat password" %}</label>
			    		<div class="col-lg-4 col-md-5">
			    			<input type="password" class="form-control" id="id_password_rpt" name="password_rpt" placeholder="{% trans 'Repeat the new password…' %}" required>
                        	{% if errors.password_rpt or post.password_rpt %}<i class="fa {{ errors.password_rpt|yesno:'fa-exclamation-triangle,fa-check-circle' }} feedback" aria-hidden="true"></i>{% endif %}
                        	{% if errors.password_rpt %}<p class="help-block">{{ errors.password_rpt }}</p>{% endif %}
			    		</div>
			    	</div>
			    	<div class="form-group">
			    		<div class="col-lg-offset-2 col-md-offset-3 col-lg-10 col-md-9">
			    			<button type="submit" class="btn btn-primary">{% trans "Change password" %}</button>
			    		</div>
			    	</div>
			    </form>
	        </section>
	    </div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="change-password"]').addClass('active');
		});
	</script>
{% endblock %}