{% extends "base.html" %}

{% block title %}Change Password &lsaquo; Settings &lsaquo; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-3 col-md-3">
			<section class="card">
				<div class="card-content">
					{% include "accounts/settings/sidenav.html" %}
				</div>
			</section>
		</div>
	    <div class="col-lg-9 col-md-9">
			<section class="card">
				<div class="card-content">
					<h3 class="page-header">Change Password</h3>
					<form id="change-password-form" class="form-horizontal" method="post" action="{% url 'accounts:settings:change_password' %}">
						{% csrf_token %}
						{{ form }}
						<div class="form-group">
							<div class="col-lg-offset-3 col-lg-9">
								<button type="submit" class="btn btn-primary btn-material">Change Password</button>
								<a href="{% url 'accounts:settings:home' %}" class="btn btn-link btn-material">Cancel</a>
							</div>
						</div>
					</form>
				</div>
	        </section>
	    </div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('#id_current').focus();
			$('[data-nav-id="settings"],[data-nav-id="change-password"]').addClass('active');
			YDNS.safeForm('#change-password-form');
		});
	</script>
{% endblock %}