{% extends "base.html" %}

{% block title %}Settings &lsaquo; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-3 col-md-3">
			<section class="card">
				<div class="card-content">
					{% include "accounts/settings/sidenav.html" %}
				</div>
			</section>
		</div>
	    <div class="col-lg-9 col-md-9">
			<section class="card">
				<div class="card-content">
					<h3 class="page-header">Settings</h3>
					<p>Please use the navigation on the left side to access a specific category.</p>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="settings"],[data-nav-id="account"]').addClass('active');
		});
	</script>
{% endblock %}