{% extends "base.html" %}

{% block title %}Journal &lsaquo; Settings &lsaquo; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-3 col-md-3">
			<section class="card">
				<div class="card-content">
					{% include "accounts/settings/sidenav.html" %}
				</div>
			</section>
		</div>
	    <div class="col-lg-9 col-md-9">
			<section class="card">
				<div class="card-content">
					<h3 class="page-header">
						Journal
						<span class="pull-right">
							<a href="{% url 'accounts:settings:clear_journal' %}" onclick="return confirm('Are you sure?')" class="btn btn-link" title="Clear" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-trash-o"></i></a>
						</span>
					</h3>
					<table class="table table-condensed table-striped table-hover table-no-border table-sm">
						<thead>
							<tr>
								<th style="width:25%">Date</th>
								<th>Activity</th>
							</tr>
						</thead>
						<tbody>
							{% for msg in user.journal.all %}<tr>
								<td>{{ msg.date_created|date:'N j, Y H:i T' }}</td>
								<td>{{ msg.message }}</td>
							</tr>{% endfor %}
						</tbody>
					</table>
				</div>
			</section>
		</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="settings"],[data-nav-id="journal"]').addClass('active');
		});
	</script>
{% endblock %}