<ul class="nav nav-list">
	<li class="nav-header">General</li>
	<li data-nav-id="api-access"><a href="{% url 'accounts:settings:api_access' %}">API Access</a></li>
	<li data-nav-id="delete-account"><a href="{% url 'accounts:settings:delete_account' %}">Delete Account</a></li>
	<li class="nav-header">Security</li>
	<li data-nav-id="change-password"><a href="{% url 'accounts:settings:change_password' %}">Change Password</a></li>
	<li data-nav-id="journal"><a href="{% url 'accounts:settings:journal' %}">Journal</a></li>
</ul>