{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Installation Instructions for two-factor authentication" %} &mdash; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-3">
            {% include "accounts/settings/sidenav.html" %}
		</div>
	    <div class="col-lg-9">
			<section class="section">
				<h3 class="section-header page-header">{% trans "Installation instructions for two-factor authentication" %}</h3>
			    <p>{% trans "In order to use the two-factor authentication, you'll need a mobile phone that runs on Android or iOS (Apple)." %}</p>

			    <h4 class="margin-top-20">{% trans "Setup instructions" %}</h4>{% get_current_language as lang_code %}
			    <ol>
			    	<li>
			    		{% trans "Download the <em>Google Authenticator</em> app from your app store." %}<br>
			    		{% blocktrans %}<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl={{ lang_code|slice:":2" }}"><i class="fa fa-android fa-fw"></i> Android</a> or <a href="https://itunes.apple.com/{{ lang_code }}/app/google-authenticator/id388497605?mt=8"><i class="fa fa-apple fa-fw"></i>iOS</a>{% endblocktrans %}
			    	</li>
			    	<li>{% trans "Open the app and a new account." %}</li>
			    	<li>{% trans "Choose to scan a barcode and scan the code image below." %}</li>
			    	<li>{% trans "Your account is now protected by two-factor authentication." %}</li>
			    </ol>

			    <p><img src="//chart.googleapis.com/chart?chs=200x200&cht=qr&chl=200x200&chld=M|0&cht=qr&chl={{ google_totp_uri }}" alt="QR Code" class="img-thumbnail"></p>
	        </section>
	    </div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="two-factor-auth"]').addClass('active');
		});
	</script>
{% endblock %}