{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Setup Two-Factor Authentication" %} &mdash; YDNS{% endblock %}

{% block pre_content %}
	<header class="aui-page-header">
		<h3>{% trans "Settings" %}</h3>
	</header>
{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-3">
            {% include "accounts/settings/sidenav.html" %}
		</div>
	    <div class="col-lg-9">
			<section class="section">
				<h3 class="section-header page-header">{% trans "Setup Two-Factor Authentication" %}</h3>
			    {% if user.otp_active %}
			    	<div class="callout callout-success">
			    		<h4><i class="fa fa-check fa-fw"></i> {% trans "Two-factor authentication is active." %}</h4>
			    		<p>{% url 'accounts:settings:two_factor_setup' as setup_url %}{% blocktrans with setup_url=setup_url %}<a href="{{ setup_url }}">Setup</a> the two-factor authentication now.{% endblocktrans %}</p>
			    	</div>
			    {% else %}
			    	<div class="callout callout-danger">
			    		<h4><i class="fa fa-exclamation-triangle fa-fw"></i> {% trans "Two-factor authentication is not active." %}</h4>
			    	</div>
			    {% endif %}
			    <form class="aui setup-form form-horizontal" id="setup-form" method="post" action="{% url 'accounts:settings:two_factor_setup' %}">
			    	{% csrf_token %}
			    	<div class="checkbox">
			    		<label>
			    			<input type="checkbox" name="enable" id="id_enable" value="enable"{% if user.otp_active %} checked{% endif %}>
			    			{% trans "Use two-factor authentication for my account" %}
			    		</label>
			    	</div>
			    	{% if user.is_native %}<br>
			    	<div class="form-group{% if errors.current_password %} has-error has-feedback{% elif post.current_password %} has-success has-feedback{% endif %}">
			    		<label for="id_current_password" class="col-lg-2 col-md-3 control-label">{% trans "Current password" %}</label>
			    		<div class="col-lg-4 col-md-5">
			    			<input type="password" class="form-control" id="id_current_password" name="current_password" placeholder="{% trans 'Enter your account password…' %}"{% if not post.current_password %} autofocus{% endif %} required>
                        	{% if errors.current_password or post.current_password %}<i class="fa {{ errors.current_password|yesno:'fa-exclamation-triangle,fa-check-circle' }} feedback" aria-hidden="true"></i>{% endif %}
                        	{% if errors.current_password %}<p class="help-block">{{ errors.current_password }}</p>{% endif %}
			    		</div>
			    	</div>
			    	<div class="form-group">
			    		<div class="col-lg-offset-2 col-md-offset-3 col-lg-10 col-md-9">
			    			<button type="submit" class="btn btn-primary">{% trans "Apply changes" %}</button>
			    		</div>
			    	</div>{% else %}
			    	<div class="form-group">
			    		<div class="col-lg-12">
			    			<button type="submit" class="btn btn-primary">{% trans "Apply changes" %}</button>
			    		</div>
			    	</div>{% endif %}
			    </form>
	        </section>
	    </div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="two-factor-auth"]').addClass('active');
		});
	</script>
{% endblock %}