{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ host }} &mdash; {% trans "Edit Record" %} &mdash; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-3">
            {% include "hosts/sidenav.html" %}
		</div>
	    <div class="col-lg-9">
			<section class="section">
				<h3 class="section-header page-header">{% trans "Edit Record" %}</h3>
			    <form class="form-horizontal" method="post" action="{% url 'hosts:records:edit' host.name record.id %}">
			    	{% csrf_token %}
			    	<div class="form-group{% if errors.content %} has-error has-feedback{% elif post.content %} has-success has-feedback{% endif %}">
			    		<label for="id_content" class="col-lg-2 control-label">{% trans "Content" %}</label>
			    		<div class="col-lg-5">
			    			<input type="text" name="content" id="id_content" class="form-control" required maxlength="65535"{% if post.content %} value="{{ post.content }}"{% else %} value="{{ record.content }}"{% endif %}>
                        	{% if errors.content or post.content %}<i class="fa {{ errors.content|yesno:'fa-exclamation-triangle,fa-check-circle' }} feedback" aria-hidden="true"></i>{% endif %}
                        	{% if errors.content %}<p class="help-block">{{ errors.content|safe }}</p>{% endif %}
			    		</div>
			    	</div>
			    	<div class="form-group{% if record.type != 'MX' %} hidden{% endif %} fg-rr-mx{% if errors.ttl %} has-error has-feedback{% elif post.ttl %} has-success has-feedback{% endif %}">
			    		<label for="id_ttl" class="col-lg-2 control-label"><abbr title="{% trans "Time to live, in seconds" %}">{% trans "TTL" %}</abbr></label>
			    		<div class="col-lg-2">
			    			<input type="number" name="ttl" id="id_ttl" class="form-control" min="0" max="4294967296" required{% if post.ttl %} value="{{ post.ttl }}"{% else %} value="{{ record.ttl|default:'3600' }}"{% endif %}>
                        	{% if errors.ttl or post.ttl %}<i class="fa {{ errors.ttl|yesno:'fa-exclamation-triangle,fa-check-circle' }} feedback" aria-hidden="true"></i>{% endif %}
                        	{% if errors.ttl %}<p class="help-block">{{ errors.ttl }}</p>{% endif %}
			    		</div>
			    	</div>
			    	<div class="form-group{% if record.type != 'MX' %} hidden{% endif %} fg-rr-mx{% if errors.prio %} has-error has-feedback{% elif post.prio %} has-success has-feedback{% endif %}">
			    		<label for="id_prio" class="col-lg-2 control-label">{% trans "Priority" %}</label>
			    		<div class="col-lg-2">
			    			<input type="number" name="prio" id="id_prio" class="form-control" min="1" max="4294967296" required{% if post.prio %} value="{{ post.prio }}"{% else %} value="{{ record.prio|default:'20' }}"{% endif %}>
                        	{% if errors.prio or post.prio %}<i class="fa {{ errors.prio|yesno:'fa-exclamation-triangle,fa-check-circle' }} feedback" aria-hidden="true"></i>{% endif %}
                        	{% if errors.prio %}<p class="help-block">{{ errors.prio }}</p>{% endif %}
			    		</div>
			    	</div>
			    	<div class="checkbox">
			    		<label class="col-lg-offset-2">
			    			<input type="checkbox" name="strict" value="strict"{% if not post or post.strict %} checked{% endif %}>
			    			{% trans "Strict validation of my input (recommended)" %}
			    		</label>
			    	</div>
			    	<div class="form-group">
			    		<div class="col-lg-offset-2 col-lg-9">
			    			<button type="submit" class="btn btn-primary">{% trans "Update Record" %}</button>
			    		</div>
			    	</div>
			    </form>
	        </section>
	    </div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="hosts"],[data-nav-id="host-records"]').addClass('active');
		});
	</script>
{% endblock %}