{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ host }} &mdash; {% trans "Records" %} &mdash; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-3">
            {% include "hosts/sidenav.html" %}
		</div>
	    <div class="col-lg-9">
			<section class="section">
				<h3 class="section-header page-header">
					{% trans "Records" %}
				    <span class="pull-right">
					    <a href="{% url 'hosts:records:create' host.name %}" class="btn btn-link">{% trans "Create Record" %}</a>
				    </span>
				</h3>
			    {% if host.records.count == 0 %}
			    	<p>{% trans "No records found." %}</p>
			    {% else %}
			    	<table class="table table-striped table-bordered">
			    		<thead>
			    			<tr>
			    				<th>{% trans "Record type" %}</th>
			    				<th>{% trans "Content" %}</th>
			    				<th>{% trans "TTL" %}</th>
			    				<th>{% trans "Priority" %}</th>
			    				<th>{% trans "Status" %}</th>
			    				<th>{% trans "Last updated" %}</th>
			    				<th width="10"></th>
			    			</tr>
			    		</thead>
			    		<tbody>
			    			{% for record in host.records.all %}<tr>
			    				<td class="text-mono">{{ record.type }}</td>
			    				<td class="text-mono">{{ record.content }}</td>
			    				<td>
			    					{% if record.ttl or record.ttl == 0 %}
			    						{% blocktrans count counter=record.ttl %}One second{% plural %}{{ counter }} seconds{% endblocktrans %}
			    					{% else %}
			    						<span class="label label-subtle">{% trans "N/A" %}</span>
			    					{% endif %}
			    				</td>
			    				<td>
			    					{% if record.prio %}
			    						{{ record.prio }}
			    					{% else %}
			    						<span class="label label-subtle">{% trans "N/A" %}</span>
			    					{% endif %}
			    				</td>
			    				<td>{{ record.get_status_label|safe }}</td>
			    				<td>{{ record.date_last_modified|date:_("Y/m/d H:i T") }}</td>
			    				<td>
			    					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			    						<i class="fa fa-angle-down"></i>
			    					</a>
			    					<ul class="dropdown-menu dropdown-menu-right" role="menu">
			    						{% if record.disabled %}
			    							<li><a href="{% url 'hosts:records:change_status' host.name record.id 'enable' %}">{% trans "Enable" %}</a></li>
			    						{% else %}
			    							<li><a href="{% url 'hosts:records:change_status' host.name record.id 'disable' %}">{% trans "Disable" %}</a></li>
			    						{% endif %}
			    						<li class="divider"></li>
			    						<li><a href="{% url 'hosts:records:edit' host.name record.id %}">{% trans "Edit" %}</a></li>
			    						<li><a href="{% url 'hosts:records:delete' host.name record.id %}">{% trans "Delete" %}</a></li>
			    					</ul>
			    				</td>
			    			</tr>{% endfor %}
			    		</tbody>
			    	</table>
			    {% endif %}
	        </section>
	    </div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="hosts"],[data-nav-id="host-records"]').addClass('active');
		});
	</script>
{% endblock %}