{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% blocktrans with email=u.email %}Ban User Account {{ email }}{% endblocktrans %} &mdash; YDNS{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-2">
			{% include "cp/users/sidenav.html" %}
		</div>
		<div class="col-lg-10">
			<section class="section">
				<h3 class="section-header page-header">{% trans "Ban Account" %}</h3>
				<p>{% trans "An account ban prevents a user from logging and and using YDNS, while keeping the user account." %}</p>
				<form class="aui" method="post" action="{% url 'cp:users:ban' u.id %}">
					{% csrf_token %}
					<div class="form-group{% if errors.reason %} has-error{% endif %}">
						<label for="id_reason">{% trans "Reason" %}</label>
						<textarea name="reason" id="id_reason" rows="6" required class="form-control" placeholder="{% trans "Enter a reason for banning this user…" %}"></textarea>
						{% if errors.reason %}<p class="help-block">{{ errors.reason }}</p>{% endif %}
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">{% trans "Ban Account" %}</button>
					</div>
				</form>
			</section>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="cp"],[data-nav-id="cp-users-ban"]').addClass('active');
		});
	</script>
{% endblock %}