{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "User Control Panel" %}: {% trans "Users" %} &mdash; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-2">
            {% include "cp/users/sidenav.html" %}
		</div>
	    <div class="col-lg-10">
			<section class="section">
				<h3 class="section-header page-header">{% blocktrans with uid=u.id|stringformat:'04d' %}User #{{ uid }}{% endblocktrans %}</h3>
			    <dl class="dl-horizontal text-left">
			    	<dt>{% trans "Email Address" %}</dt>
			    	<dd><a href="mailto:{{ u.email }}?subject=YDNS">{{ u.email }}</a></dd>
			    	<dt>{% trans "User Alias" %}</dt>
			    	<dd class="text-mono">{{ u.alias }}</dd>
			    	<dt>{% trans "Creation Date" %}</dt>
			    	<dd>{{ u.date_joined|date:_("Y/m/d H:i T") }}</dd>
			    	<dt>{% trans "Last Login" %}</dt>
			    	<dd>
			    		{% if u.last_login %}
			    		    {{ u.last_login|date:_("Y/m/d H:i T") }}
			    		{% else %}
			    		    <span class="text-muted">{% trans "Never" %}</span>
			    		{% endif %}
			    	</dd>
			        <dt>{% trans "Privileges" %}</dt>
			        <dd>{{ u.get_priv_label }}</dd>
			        <dt>{% trans "Account Type" %}</dt>
			        <dd>{{ u.get_type_label }}</dd>
			        <dt>{% trans "Status" %}</dt>
			        <dd>{{ u.get_status_label }}</dd>
			        <dt>&nbsp;</dt><dd>&nbsp;</dd>
			        <dt>{% trans "2FA" %}</dt>
			        <dd>{{ u.otp_active|yesno:_("Yes,No") }}</dd>
			        <dt>{% trans "Language" %}</dt>
			        <dd>
			    		{% if u.language %}
			    		    {% get_language_info for u.language as lang_info %}
			    		    {{ lang_info.name }}
			    		{% else %}
			    			<span class="text-muted">{% trans "Guess automatically" %}</span>
			    		{% endif %}
			    	</dd>
			    </dl>
	        </section>
	    </div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="cp"],[data-nav-id="cp-users-overview"]').addClass('active');
		});
	</script>
{% endblock %}