{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "User Control Panel" %}: {% trans "Users" %} &mdash; YDNS{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-2">
			{% include "cp/users/sidenav.html" %}
		</div>
		<div class="col-lg-10">
			<section class="section">
				<h3 class="section-header page-header">{% trans "Hosts" %}</h3>
			{% if u.hosts.count == 0 %}
				<p>{% trans "This user has not any hosts." %}</p>
				{% else %}
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>{% trans "Host" %}</th>
								<th>{% trans "Records" %}</th>
								<th>{% trans "Status" %}</th>
								<th>{% trans "Creation Date" %}</th>
							</tr>
						</thead>
						<tbody>
							{% for host in u.hosts.all %}<tr>
								<td><a href="{% url 'hosts:detail' host.name %}">{{ host }}</a></td>
								<td>{{ host.records.count }}</td>
								<td>{{ host.get_status_label }}</td>
								<td>{{ host.date_created|date:_('Y/m/d H:i:s T') }}</td>
							</tr>{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</section>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="cp"],[data-nav-id="cp-users-hosts"]').addClass('active');
		});
	</script>
{% endblock %}