{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "User Control Panel" %}: {% trans "Users" %} &mdash; YDNS{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-2">
			{% include "cp/users/sidenav.html" %}
		</div>
		<div class="col-lg-10">
			<section class="section">
				<h3 class="section-header page-header">{% trans "Journal" %}</h3>
				{% with log=u.get_log_messages %}
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>{% trans "Date" %}</th>
								<th>{% trans "Action" %}</th>
								<th>{% trans "IP Address" %}</th>
								<th>{% trans "User agent" %}</th>
							</tr>
						</thead>
						<tbody>
							{% for msg in log %}<tr>
								<td>{{ msg.date_created|date:_('Y/m/d H:i:s T') }}</td>
								<td>{{ msg.get_translated_message }}</td>
								<td>{{ msg.ip|default:_('not available') }}</td>
								<td class="journal-user-agent"{% if msg.meta.user_agent %} title="{{ msg.meta.user_agent }}"{% endif %}>
									{{ msg.get_user_agent|default:_('not available') }}
								</td>
							</tr>{% endfor %}
						</tbody>
					</table>
				{% endwith %}
			</section>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="cp"],[data-nav-id="cp-users-journal"]').addClass('active');
		});
	</script>
{% endblock %}