@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-top: 50px;
  background-color: #00b8d4;
}

a {
  color: #00838f;
}
a:hover {
  color: #006064;
  text-decoration: none;
}

body#landing-page {
  background-color: #0097a7;
  color: #fff;
  margin-top: 0;
}

body#landing-page > .container.top {
  margin-top: 30px;
  margin-bottom: 30px;
}

body#landing-page > .container.top h1 {
  font-size: 60px;
  font-weight: bold;
}

body#landing-page > .container.top a.btn-custom {
  margin-top: 5px;
  color: #fff;
}

body#landing-page > .container.top a.btn-custom:hover {
  text-decoration: none;
  background: #00838f;
}

body#landing-page .segment.one {
  background-color: #00b8d4;
}

body#landing-page h3.feature {
  margin-top: 0;
}

body#landing-page .button-start {
  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4dd0e1;
  color: #006064;
  border-radius: 3px;
  border: none;
  outline: 0;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

body#landing-page .button-start:hover {
  background-color: #00bcd4;
}

.btn-bold {
  font-weight: bold;
}

.segment {
  width: 100%;
  padding: 20px 10px;
  display: block;
}
.white {
  background-color: #fff;
}
.full-height {
  height: 100%;
  min-height: 100%;
}
.vpad {
  padding-top: 15px;
  padding-bottom: 15px;
}
.hpad {
  padding: 15px;
}

/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  .waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    pointer-events: none; }
  .waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45); }
  .waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7); }
  .waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7); }
  .waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7); }
  .waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7); }
  .waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7); }
  .waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7); }

.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; }

.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); }

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom; }
  .waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1; }

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none; }

.waves-block {
  display: block; }

/* Firefox Bug: link not triggered */
a.waves-effect .waves-ripple {
  z-index: -1; }

.navbar-default {
  border: none;
}
.navbar-default,
.navbar-default .navbar-collapse {
  background-color: #0097a7;
}
.navbar-default .navbar-brand {
  padding: 5px 0;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li.active>a:focus,
.navbar-default .navbar-nav>li.active>a:hover,
.navbar-default .navbar-nav .open>a,
.navbar-default .navbar-nav .open>a:focus,
.navbar-default .navbar-nav .open>a:hover {
  background: #00acc1;
  color: #fff;
}
.navbar-default .btn-link.gravatar {
  color: #fff;
}
.navbar-default .btn-link.gravatar:hover {
  text-decoration: none;
}

/* Footer */
footer.footer {
  width: 100%;
  background-color: #006064;
  font-size: 12px;
  padding: 20px 10px;
  display: block;
  color: #fff;
}
footer.footer ul.list-inline a {
  color: #b2ebf2;
}
footer.footer ul.list-inline a:hover {
  text-decoration: underline;
}
footer.footer a.social {
  color: #0097a7;
}
footer.footer a.social:hover {
  color: #b2ebf2;
}
footer.footer p:last-child {
  margin-bottom: 0;
}

#content .container section.card-panel {
  margin-top: 10px;
}

/* Material design */
.btn-material {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btn-material:hover {
  background-color: #2bbbad;
}
.btn-material.disabled {
  background-color: #dfdfdf;
  box-shadow: none;
  color: #9f9f9f;
  cursor: default;
}
.btn-link.btn-material {
  box-shadow: none;
  background-color: transparent;
  color: #343434;
  cursor: pointer;
}
.btn-link.btn-material.disabled {
  color: #b3b3b3;
  cursor: default;
}

.form-control {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: none;
  height: 2.14285714em;
  transition: all .3s;
  padding: 5px 7px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  outline: 0;
  border-color: #aaa;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-group.margin:last-child {
  margin-top: 1em;
}
.checkbox label,
.radio label {
  padding-left: 28px;
}

/* Cards */
.card {
  display: block;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card .card-header {
  border-bottom: 1px solid rgba(160, 160, 160, .2);
}
.card .card-content {
  padding: 20px;
}
.card .card-content > h3 {
  margin-top: 0;
}
.card .card-content *:last-child {
  margin-bottom: 0;
}
.card hr {
  border-color: rgba(160, 160, 160, 0.2);
  margin: 5px 0;
}
.card hr.more-padding {
  margin: 15px 0;
}
.card > h1,
.card > h2,
.card > h3,
.card > h4 {
  margin-top: 0;
}

/* Login specific */
.card .card-oauth-login {
  margin-top: -5px;
}
.card .card-oauth-login > table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
}
.card .card-oauth-login > table td {
  text-align: center;
  padding: 20px;
}
.card .card-oauth-login > table td:not(:last-child) {
  border-right: 1px solid rgba(160, 160, 160, 0.2);
}

/* Navs */
.nav-list .nav-header {
  color: #bbb;
  text-transform: uppercase;
  font-size: 12px;
}
.nav-list .nav-header:not(:first-child) {
  margin-top: 20px;
}
.nav-list > li > a {
  padding: 5px 0;
}
.nav-list > li > a:hover {
  background-color: transparent;
}
.nav-list > li.active > a {
  font-weight: bold;
}
.nav-list > li .badge {
  float: right;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #ddd;
  color: #666;
}

/* Callouts */
.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code {
  border-radius: 3px;
}
.bcallout + .callout {
  margin-top: -5px;
}
.callout-danger {
  border-left-color: #ce4844;
}
.callout-danger h4 {
  color: #ce4844;
}
.callout-warning {
  border-left-color: #aa6708;
}
.callout-warning h4 {
  color: #aa6708;
}
.callout-info {
  border-left-color: #1b809e;
}
.callout-info h4 {
  color: #1b809e;
}

/* Alerts */
.alert-material {
  border-radius: 0;
  margin-bottom: 0;
  padding: 5px 10px;
  border-top: 0;
}
.alert-material.alert-dismissible .close {
  top: 0;
  right: 0;
}
.alert-material.alert-info {
  background-color: #e0f7fa;
  border-color: #b2ebf2;
}
.alert-material.alert-danger {
  background-color: #ffebee;
  color: #c62828;
}
.alert-material.alert-warning {
  background-color: #fffde7;
  color: #f9a825;
}
.alert-material.alert-success {
  background-color: #f1f8e9;
  color: #689f38;
}

/* Tables */
.table-sm {
  font-size: 12px;
}
.table-no-border,
.table-no-border>thead>tr>th,
.table-no-border>tbody>tr>td {
  border: none;
}

/* Text overrides */
.text-warning {
  color: #f9a825;
}

/* Dashboard */
.table>tbody>tr>td.dashboard-host {
  padding-left: 2em;
}

/* Helpers */
.as-table {
  display: table;
}
.as-table-cell {
  display: table-cell;
}
.no-float {
  float: none;
}