{% extends "base.html" %}

{% block title %}Add Record &lsaquo; {{ domain }} &lsaquo; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-offset-3 col-lg-6">
			<section class="card">
				<div class="card-content">
					<h3 class="page-header">Add Record</h3>
					<br>
			    	<form id="create-form" class="form-horizontal" method="post" action="{% url 'domains:records:create' domain.name %}">
						{% csrf_token %}
						{{ form }}
						<div class="form-group margin">
							<div class="col-lg-offset-3 col-lg-9">
								<button type="submit" class="btn btn-primary btn-material">Add Record</button>
								<a href="{% url 'dashboard' %}" class="btn btn-link btn-material">Cancel</a>
							</div>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('#id_name').focus();
			YDNS.safeForm('#create-form');
			YDNS.setActiveSection('domain-ctx');
			$('#id_type').on('change', typeChanged);
			typeChanged();
		});

		function typeChanged() {
			var type = $('#id_type').val();

			if (type == 'MX') {
				$('[data-field-name=ttl],[data-field-name=prio]').show();
			} else {
				$('[data-field-name=ttl],[data-field-name=prio]').hide();
			}
		}
	</script>
{% endblock %}