{% extends "base.html" %}
{% load fmt %}

{% block title %}Delete {{ current_user }} &lsaquo; User Manager &lsaquo; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-12 col-md-12">
			<section class="card">
				<div class="card-content">
					<h3 class="page-header">
						Delete {{ current_user }}
					</h3>
					<p class="text-danger">You are about to delete user account #{{ current_user.id }}.</p>
					<p>If you continue, all related hosts and domains are being deleted.</p>
					<p><strong>Do you really want to proceed?</strong></p>
					<br>
					<form id="form-delete" method="post" action="{% url 'accounts:admin:delete' current_user.id %}">
						{% csrf_token %}
						<button type="submit" class="btn btn-primary btn-material">Delete user</button>
						<a href="{% url 'accounts:admin:detail' current_user.id %}" class="btn btn-link btn-material">Cancel</a>
					</form>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			YDNS.setActiveSection('admin');
			YDNS.safeForm('#form-delete');
		});
	</script>
{% endblock %}