{% extends "base.html" %}
{% load fmt %}

{% block title %}{{ current_user }} &lsaquo; User Manager &lsaquo; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-12 col-md-12">
			<section class="card">
				<div class="card-content">
					<h3 class="page-header">
						{{ current_user }}
						<span class="pull-right">
							{% if current_user.active %}
								<a href="{% url 'accounts:admin:lock' current_user.id %}" class="btn btn-link" title="Lock" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lock text-danger"></i></a>
							{% else %}
								<a href="{% url 'accounts:admin:unlock' current_user.id %}" class="btn btn-link" title="Unlock" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lock"></i></a>
							{% endif %}
							<a href="{% url 'accounts:admin:delete' current_user.id %}" class="btn btn-link" title="Delete" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-trash-o text-danger"></i></a>
						</span>
					</h3>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<dl class="dl-horizontal">
								<dt>Alias</dt>
								<dd>{{ current_user.alias }}</dd>
								<dt>Email address</dt>
								<dd>{{ current_user.email|urlize }}</dd>
								<dt>Type</dt>
								<dd>{{ current_user.type }}</dd>
								<dt>&nbsp;</dt><dd>&nbsp;</dd>
								<dt>Status</dt>
								<dd>
									{{ current_user.status_label }}
								</dd>
							</dl>
						</div>
						<div class="col-lg-6 col-md-6">
							<dl class="dl-horizontal">
								<dt>Creation date</dt>
								<dd>{{ current_user.date_joined|fmt_timesince }}</dd>
								<dt>Last login</dt>
								<dd>{{ current_user.last_login|fmt_timesince }}</dd>
								<dt>ID</dt>
								<dd>{{ current_user.id }}</dd>
							</dl>
						</div>
					</div>
					<hr class="more-padding">
					<p><a href="{% url 'accounts:admin:home' %}">Back to User Manager</a></p>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			YDNS.setActiveSection('admin');
		});
	</script>
{% endblock %}