{% if messages %}
	{% for message in messages %}
		<div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible alert-material" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{% if message.tags == 'error' or message.tags == 'warning'%}
				<i class="fa fa-exclamation-triangle fa-fw"></i>
			{% elif message.tags == 'success' %}
				<i class="fa fa-check fa-fw"></i>
			{% elif message.tags == 'info' %}
				<i class="fa fa-info-circle fa-fw"></i>
			{% endif %}
			{{ message|linebreaksbr }}
		</div>
	{% endfor %}
{% endif %}