{% extends "base.html" %}
{% load fmt %}

{% block title %}Dashboard &lsaquo; YDNS{% endblock %}

{% block segment_class %}segment{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12 white">
			{% if not domains %}
				<p>You don't have any domains and hosts yet.</p>
			{% else %}
				<table class="table table-condensed table-no-border">
					<thead>
						<tr>
							<th>Domain</th>
							<th>Creation date</th>
							<th>Last updated</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						{% for domain in domains %}<tr>
							<td><a href="{% url 'domains:detail' domain.name %}">{{ domain }}</a></td>
							<td>
								{% if domain.owner == user %}
									{{ domain.date_created|fmt_timesince }}
								{% else %}
									<em class="text-muted">not available</em>
								{% endif %}
							</td>
							<td><em class="text-muted">not available</em></td>
							<td>{{ domain.status_label }}</td>
						</tr>{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			YDNS.setActiveSection('dashboard');
		});
	</script>
{% endblock %}