{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Donate" %} &mdash; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-offset-3 col-lg-6">
			<section class="section">
			    <h3 class="section-header page-header">{% trans "Donate" %}</h3>
			    <p class="text-justify">YDNS started as small personal project. Our goal was to provide a free dynamic DNS service. Now YDNS is more than that: You can use our name servers for own domains. We have integrated many features which hopefully makes things easier for our users.</p>
			    <p class="text-justify">Our promise is to keep the service free for it's entire life time. However, the development and operation of such a project is not free. We run YDNS to provide something good to the internet community.</p>
			    <p class="text-justify">If you like what we do and want to support the further development and operation of YDNS, please consider to donate. Thank you.</p>

			    <h4 class="margin-top-20">{% trans "Bitcoin" %}</h4>
			    <p>Our bitcoin address is <code>1jBH4sw4bJGGtxUJPY2FpaXh6EtWyzWEj</code></p>

			    <h4 class="margin-top-20">{% trans "PayPal" %}</h4>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="DR2P4K6TLG9GY">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
                </form>
	        </section>
	    </div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="donate"]').addClass('active');
		});
	</script>
{% endblock %}