{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YDNS</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/ydns.css" %}">
</head>
<body id="landing-page">
	{% include "alerts.html" %}
	<div class="container top">
		<a href="{% url 'home' %}"><img src="{% static 'img/logo_fff.png' %}" alt="YDNS"></a>
		<div class="pull-right">
			<a href="{% url 'login' %}" class="btn btn-link btn-custom">Login</a>
			<a href="{% url 'signup' %}" class="btn btn-link btn-custom btn-bold">Sign up</a>
		</div>
		<h1 class="text-center">YDNS</h1>
		<h3 class="text-center">Powerful DNS Services. <strong>Free.</strong></h3>
		<p class="text-center">
			<a href="{% url 'get_started' %}" class="waves-effect waves-light button-start">Get started</a>
		</p>
	</div>
	<div class="segment one">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 text-center">
					<i class="fa fa-home fa-fw fa-3x"></i>
					<h3 class="feature">Dynamic DNS</h3>
					<p>Make your home network world-wide reachable</p>
				</div>
				<div class="col-lg-4 col-md-4 text-center">
					<i class="fa fa-child fa-fw fa-3x"></i>
					<h3 class="feature">Made for humans</h3>
					<p>Simple to use and yet powerful</p>
				</div>
				<div class="col-lg-4 col-md-4 text-center">
					<i class="fa fa-group fa-fw fa-3x"></i>
					<h3 class="feature">Open and Free</h3>
					<p>Backed by open source software and free to use</p>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer" role="contentinfo">
		<div class="container text-center">
			<p>&copy; 2015 The YDNS Project. All rights reserved.</p>
			<ul class="list-inline">
				<li><a href="https://blog.ydns.io">Blog</a></li>
				<li><a href="{% url 'api:home' %}">API</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
				<li><a href="{% url 'imprint' %}">Imprint</a></li>
			</ul>
			<p>
				<a href="//www.facebook.com/ydns.io" target="_blank" class="social" title="Visit us on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
				&nbsp;
				<a href="//twitter.com/tfmtde" target="_blank" class="social" title="Visit us on Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
			</p>
		</div>
    </footer>
	<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>