{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Imprint" %} &mdash; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-offset-3 col-lg-6">
			<section class="section">
			    <h3 class="section-header page-header">{% trans "Imprint" %}</h3>
			    <address class="imprint">
			    	{% blocktrans %}<strong>TFMT UG (haftungsbeschränkt)</strong><br>
			    	Wettersteinstrasse 30<br>
			    	82467 Garmisch-Partenkirchen<br>
			    	Germany<br>
			    	<br>
			    	Chief Executive Officer: Florian Hibler, Christian Jurk<br>
			    	Amtsgericht München HRB 203313<br>
			    	EU VAT ID: DE287847488<br>
			    	Headquarters: Garmisch-Partenkirchen, Germany<br>
			    	<br>
			    	<a href="http://www.tfmt.de" target="_blank">http://www.tfmt.de</a><br>
			    	Phone: +49 8821 6869039 <sup>1</sup><br>
			    	Fax: +49 8821 6869039 <sup>1</sup><br>
			    	Email: <a href="mailto:support@ydns.eu">support@ydns.eu</a> or use our <a href="#">Support page</a> to contact us.<br>
			    	<br>
			    	<small><i><sup>1</sup> landline tolls may apply.</i></small>{% endblocktrans %}
			    </address>
			</section>
		</div>
	</div>
{% endblock %}