{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ host }} &mdash; YDNS{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-3">
            {% include "hosts/sidenav.html" %}
		</div>
	    <div class="col-lg-9">
			<section class="section">
				<h3 class="section-header page-header">{% trans "Host Details" %}</h3>
			    <dl class="dl-horizontal text-left">
			    	<dt>{% trans "Creation Date" %}</dt>
			    	<dd>{{ host.date_created|date:_("Y/m/d H:i T") }}</dd>
			    	<dt>{% trans "Last updated" %}</dt>
			    	<dd>
			    		{% with record=host.get_latest_record %}
			    		    {% if record %}
			    				{{ record.date_last_modified|date:_("Y/m/d H:i T") }}
			    		    {% else %}
			    				<span class="text-muted">{% trans "Never" %}</span>
			    		    {% endif %}
			    	    {% endwith %}
			    	</dd>
			    	<dt>{% trans "Status" %}</dt>
			    	<dd>{{ host.get_status_label|safe }}</dd>
			    </dl>

			    {% if host.is_underlying_disabled %}
			    <p class="text-danger">{% blocktrans %}<strong>Warning:</strong> All records of this host are disabled. This means that no queries to this host are answered.{% endblocktrans %}</p>
			    {% endif %}

			    {% if host.is_active %}
			    	<a href="{% url 'hosts:change_status' host.name 'disable' %}" class="btn btn-default">{% trans "Disable this host" %}</a>
			    {% else %}
			    	<a href="{% url 'hosts:change_status' host.name 'enable' %}" class="btn btn-default">{% trans "Enable this host" %}</a>
			    {% endif %}
	        </section>
	    </div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('[data-nav-id="hosts"],[data-nav-id="host-detail"]').addClass('active');
		});
	</script>
{% endblock %}