	{% load i18n %}
	{% for row in rows %}<div class="row">
		{% for host in row %}<div class="col-lg-3 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body text-center">
					<i class="fa fa-desktop fa-3x {{ host.is_good|yesno:'text-success,text-danger' }}"></i>
					<h3><a href="{% url 'hosts:detail' host.name %}">{{ host }}</a></h3>
					{% with latest=host.get_latest_record %}
						{% if latest %}
							<p title="{% trans "Content of most recent updated record" %}" data-placement="bottom" data-toggle="tooltip">{{ latest.content }}</p>
							<small class="text-muted" title="{% trans "Last updated" %}" data-toggle="tooltip" data-placement="bottom">{% blocktrans with last_mod=latest.date_last_modified|timesince %}{{ last_mod }} ago{% endblocktrans %}</small>
						{% else %}
							<p class="text-danger">{% trans "No records found" %}</p>
							<small class="text-muted">{% trans "Never updated yet" %}</small>
						{% endif %}
					{% endwith %}
				</div>
			</div>
		</div>{% endfor %}
	</div>{% endfor %}