{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ domain }} &mdash; YDNS{% endblock %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{% static "css/select2.css" %}">
{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-3">
            {% include "domains/sidenav.html" %}
		</div>
	    <div class="col-lg-9">
			<section class="section">
				<h3 class="section-header page-header">{% trans "Hosts" %}</h3>
			    {% if domain.hosts.count == 0 %}
			    	<p>{% trans "No hosts found." %}</p>
			    {% else %}
			    	<table class="table table-striped table-bordered" id="table-entries">
			    		<thead>
			    			<tr>
			    				<th>{% trans "Host Name" %}</th>
			    				<th>{% trans "Record Count" %}</th>
			    				<th>{% trans "Creation Date" %}</th>
			    			</tr>
			    		</thead>
			    		<tbody>
			    			{% for host in domain.hosts.all %}<tr>
			    				<td>{{ host }}</td>
			    				<td>{{ host.records.count }}</td>
			    				<td>{{ host.date_created|date:_("Y/m/d H:i T") }}</td>
			    			</tr>{% endfor %}
			    		</tbody>
			    	</table>
			    {% endif %}
	        </section>
	    </div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
	<script type="text/javascript">
		$(function() {
			$('select').select2();
			$('[data-nav-id="domains"],[data-nav-id="domain-hosts"]').addClass('active');
			$('.checkall').on('click', function () {
        		$('#table-entries tbody').find(':checkbox').prop('checked', this.checked);
    		});
			$('#id_choice').on('change', function() {
				$('#form-masschoice').submit();
			});
		});
	</script>
{% endblock %}